* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --nav-height: 3.35rem;
}

::-webkit-scrollbar {
  width: 15px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3.5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: rgb(170, 170, 170);
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background-color: hsl(0, 0%, 47%);
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

nav {
  background-color: #014d87;
  width: 100vw;
  height: var(--nav-height);
  position: fixed;
}

.nav-links {
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.5rem;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  font-size: 1.15rem;
  color: white;
  text-decoration: none;
  transition: color 0.15s ease-in;
}

.nav-links a:hover {
  color: goldenrod;
  text-decoration: underline;
}

input {
  font-size: 1.35rem;
  border: none;
  border-bottom: 1px solid #1890ff;
  padding: 5px 10px;
  outline: none;
  transition: border-bottom 0.15s ease-in;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.75s 0.75s ease;
  text-indent: -100%;
  opacity: 1;
}

input:focus {
  border-bottom: 4px solid #1890ff;
}

footer {
  /* position: fixed; */
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: var(--nav-height);
  background-color: #014d87;
  color: white;
}

@-webkit-keyframes mask-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(17.5rem);
  }
}
@keyframes mask-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(17.5rem);
  }
}
@-webkit-keyframes mask-inner-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-17.5rem);
  }
}
@keyframes mask-inner-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-18rem);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.focus {
  background-color: #014d8791;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2rem;
  line-height: 1;
  position: relative;
  width: 23.5rem;
  padding: 0.25rem;
  border-radius: 8px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
}
.focus:before {
  content: "Contact Me";
  filter: blur(4.5px);
}
.focus:after {
  content: "";
  position: absolute;
  width: 8rem;
  height: calc(100% + 8px);
  top: -4px;
  left: 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
  -webkit-animation: mask-move 2s linear infinite alternate;
  animation: mask-move 2s linear infinite alternate;
}
.focus--mask {
  overflow: hidden;
  position: absolute;
  width: 5rem;
  height: 100%;
  top: 0;
  left: 0;
  background: #014d87;
  -webkit-animation: mask-move 1s linear infinite alternate;
  animation: mask-move 1s linear infinite alternate;
}
.focus--mask-inner {
  -webkit-animation: mask-inner-move 1s linear infinite alternate;
  animation: mask-inner-move 1s linear infinite alternate;
}

.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #ffd650;
}
.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #ffdd6f;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}

form {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
