.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-size: 24px;
}

p::first-letter {
  font-family: "Courier New", Courier, monospace;
  font-size: 250%;
  font-weight: bold;
  background-color: orange;
  padding: 10px;
  border: 2px double black;
}

p::first-line {
  background-color: cadetblue;
}

/* :hover can be used in any element */

p:hover {
  color: hotpink;
}

/* 
:link - unvisited links with href
:visited - visited links
:hover - hover
:active - as the users click's
a - all links
*/

a {
  text-align: center;
  display: block;
  background: rgb(255, 125, 151);
  margin: 10px;
}

a:link {
  color: white;
}

a:visited {
  color: gold;
}

a:active {
  color: skyblue;
}
